body {
  color: #FFFFFF;
  background-color: #292C2B;
  /* background-color: #101F10; */
}
header {
  display: grid;
  grid-template-columns: 21em;
  margin: 2rem 0.7rem;
  font-size: 1vw;
}
header * {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}
header > h1 {
  grid-area: 3 / 1 / 4 / 3;
  margin-left: -0.4rem;
  font-size: 7.5em;
}
header > h2 {
  grid-area: 2 / 1;
  font-size: 3em;
}
header > time {
  grid-area: 1 / 1;
  font-size: 2em;
}
.justify {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  box-pack: justify;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-box-pack: justify;
}
.justify > span {
  display: block;
}
header > .place {
  grid-area: 1 / 2 / 3;
  font-size: 6.4em;
  margin-top: -0.14em;
  text-align: right;
}

body > p > a {
  color: #FF59A0 !important;
}

article {
  overflow: hidden;
  padding: 1rem 2rem 1.8rem;
  margin: 0.5rem;
}
.articles article:nth-child(odd) {
  background-color: #AE0019;
  /* background-color: #AD002D; */
}
.articles article:nth-child(even) {
  background-color: #234C9E;
  /* background-color: #233B6C; */
}
article > h2 {
  margin: 0;
  border: none;
}
article > .detail {
  margin: 0.5rem 0;
  padding-left: 1rem;
}
article > .detail > p, ul {
  margin: 0;
}
article > .detail > ul {
  padding-left: 0;
  list-style-type: none;
}
article > .detail > ul > li:nth-child(odd)::before {
  content: "◇ ";
}
article > .detail > ul > li:nth-child(even)::before {
  content: "◆ ";
}
article .imgs {
  margin-top: 1rem;
}
article .imgs img {
  box-sizing: border-box;
  padding-right: 4px;
  width: 50%;
}

@media all and (min-width: 700px) {
  body {
    width: 700px;
    margin: 0 auto;
  }
  header {
    font-size: 7px;
  }
  article .imgs img {
    width: 33.3%;
  }

}
