@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

.timeline {
  font-family: "Noto Sans", sans-serif;
  list-style: none;
  margin: 0 0 30px 80px;
  padding-left: 30px;
  border-left: 8px solid #1F1F1F;
}
.timeline p {
  margin: 0 0 15px;
}

ul.timeline > li {
  margin: 40px 0;
  position: relative;
}

ul.timeline > li > .date {
  margin-top: -10px;
  top: 50%;
  left: -100px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

ul.timeline > li > .circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border: 5px solid #1F1F1F;
  border-radius: 50%;
  display: block;
  position: absolute;
}

ul.timeline > li > .detail {
  padding: 50px 20px 0;
  border: 2px solid #1F1F1F;
  border-radius: 0.5em;
  position: relative;
}
ul.timeline > li > .detail:before,
ul.timeline > li > .detail:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
ul.timeline > li > .detail:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
ul.timeline > li > .detail:after {
  border-right-color: #FFFFFF;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}

ul.timeline > li > .title {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  top: 20px;
  transform: translateX(20px);
}

ul.timeline > li > .circle {
  background: #CFCFCF;
}
