ul.members li {
  margin: 0.4em 0;
  list-style: none;
}

ul.members li {
  display: block;
  float: left;
  width: 10em;
}

ul.members:after {
  content: "";
  clear: both;
  display: block;
}

@media screen and (min-width: 960px) {
   ul.members li {
     width: 16%;
   }
}
